
<header class="header_rent text-center text-white d-flex align-items-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Muévete con Libertad</h1>
        <p class="lead mb-4">Encuentra el sedán o hatchback perfecto para tu próximo viaje por la ciudad.</p>
        <a routerLink="/ver-autos" class="btn btn-primary btn-lg px-4">Ver Vehículos</a>
    </div>
</header>

<section id="flota" class="container py-5">
    <h2 class="text-center mb-5">Vehículos Destacados Prueba</h2>
    
    <div class="row g-4" id="vehiculos-destacados">
        
    </div>
</section>
