.header_rent {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/header.jpg') no-repeat center center;
    background-size: cover;
    height: 40vh;
    min-height: 400px;
}