<div class="bg-primary text-white py-4 mb-4 text-center header-global">
    <h2 class="fw-bold"><i class="fa-solid fa-list-check me-2"></i>Mis Reservas</h2>
    <p class="text-white">¡Estás a un paso de disfrutar tu próximo viaje!</p>
</div>

<div class="container mb-5 flex-grow-1">
    <div class="row g-4" id="contenedor-mis-reservas">
        <div class="text-center py-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando reservas...</span>
            </div>
        </div>
    </div>
</div>